body{
    margin :0px;
    background-color: gray;
}

h1{
    text-align: center;
}

footer{
    background-color: rgb(87, 87, 87);
    padding: 1em;
}

.a{grid-area: a;
padding-left: 2em;
font-size: 30px;
}
.b{grid-area: b;
width: 10em;text-align: center;
height: 10em;
}
.c{grid-area: c;
text-align: center;
padding: 5em;
width: 50em;
font-size: 20px;
}
.d{grid-area: d;
    text-align: right;
    padding-right: 2em;
    font-size: 30px;
}

.container {
    margin: 2em;
    border:1px solid black;
    display: grid;
    grid-template-columns: auto; /* Две колонки одинаковой ширины */
    grid-template-rows: auto; /* Высота строк будет автоматически подстраиваться под содержимое */
    grid-template-areas: 
    "a a"
    "b c"
    "d d";
    gap: 1em;
    padding: 1em;
}

#intro {
    margin-left: 1em;
    margin-right: 1em;
}

img {
    border-radius: 1em;
    width: 200px;
    height: 250px;
}
